@model mvclogin.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>

	<ul>

		<li>
			@Html.ActionLink("Editar", "editar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Borrar", "borrar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Registrar", "registrar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Iniciar sesion", "loginPage", "perfil")
		</li>

		<li>
			@Html.ActionLink("Cerrar sesion", "logout", "perfil")
		</li>

	</ul>

	<h3>Tus datos</h3>
	Nombre de usuario: @Html.Display(Model.nombreUsuario)
	Rol: @Html.Display(Model.Role.rol)
</body>

